body{
  background: #363636;
  width: 100%;
  height: 100%;
  font-family: 'Merriweather Sans', sans-serif;
  display: inline-block;
  float: left;
  margin: 0;
  text-shadow: 2px 2px #ff0000;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

.menu{
  width: 100%;
  height: 25%;
  display: inline-block;
  margin-left: 10%;

}
.image{
  width: 100%;
  height: 50%;
  float: left;
  display: inline-block;
}

.image2{
  width: 49%;
  height: 49%;
  display: inline-block;
}


.image img{
  height: 60%;
  width: 60%;
  margin: 10%;

}

.image2 img{
  margin: 20%;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  font-size: 3vh;
  margin: 10%;
  color: green;
}

h1{
  font-size: 4.5vh;
  color: green;
  margin: 10%;
}

.video{

}

.a{
  background-image: url("1a.png");
}
.b{
  background-image: url("2a.png");
}
.c{
  background-image: url("3a.png");
}
.d{
  background-image: url("10a.png");
}
.e{
  background-image: url("18a.png");
}
.f{
  background-image: url("31a.png");
}
.g{
  background-image: url("30a.png");
}
.h{
  background-image: url("33a.png");
}

.final img{
  width: 100%;
  height: 100%;
  margin: 0;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



.loader{
  height: 60%;
  width: 60%;
  text-align: center;
  margin-left: 20% ;
   display: inline-block;
top:-40vh;
}

.gif{
  top: -40vh;
}
/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: green;
}
#counter{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3vh;
  margin: 10%;
  color: green;
}
